
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Ubuntu:wght@300&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu';
    margin: 0;
    background: linear-gradient(to bottom right, #ffffff 6%, #ffffff 200%);
}

.header {
    width: 100%;
}
.top_menu {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1320px;
    padding-top: 20px;
    border-bottom: 2px solid #E2E3EF;
}

.top_menu_nav {
    width: 525px;
    display: flex;
    height: 30px;
}

.header_right {
    display: flex;
    margin-top: -13px;
    gap: 20px;
    align-items: center;
}

.header_right_button {
    border: none;
    text-decoration: none;
    background-color: white;
    color: #07040C;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: black 1px solid;
    border-radius: 30px;
    padding: 10px 15px 10px;
    transition: all 0.5s ease-in-out;
}

.header_right_button:hover {
    background-color: #07040C;
    color: white;
    cursor: pointer;
}

.turbo_text {
    color: #F35A05;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.turbo_text2 {
    color: #07040C;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header_left {
    width: 300px;
    height: 80px;
    display: flex;
}

.top_menu_text {
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: #07040C;
    font-size: 14px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
}

#nav_1 {
    margin-left: 40px;
}

.semantic {
    justify-content: center;
    margin: auto;
    display: flex;
}

.semantic_texts {
    width: 700px;
}

.text-semantic {
    color: #07040C;
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
}

.text-service {
    color: #585967;
    font-size: 20px;
    line-height: 145%;
    /* 29px */
}

.try_it {
    display: flex;
    text-align: center;
    align-items: center;
}

.try-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 60px;
    align-items: center;
    border-radius: 30px;
    background: #F35A05;
    border: none;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s ease;
    margin: 0;
}

.try-button:hover {
    font-size: 20px;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px)
}

.frame_3 {
    transition: 1s;
}

.frame_3:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.text-freemoney {
    padding-top: 7px;
    padding-left: 30px;
    color: #808296;
    font-size: 16px;
    line-height: 145%;
    /* 23.2px */
}

.group_55 {
    padding-top: 7px;
}

.card {
    width: 140pt;
    height: 227px;
    border-radius: 5px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;

}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 2%;

}

.text_card {
    color: #07040C;
    font-size: 24px;
    font-weight: 700;
    line-height: 125%;
}

.text_card1 {
    display: block;
    color: #585967;
    font-size: 16px;
    line-height: 145%;
    margin-top: 10px;
}

.dives {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nouhau {
    display: flex;
    justify-content: center;
}

.zagolovok {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nouhau-text {
    padding-top: 130px;
    color: #07040C;
    text-align: center;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nouhau-img {
    margin-left: 34px;
    transition: 1s ease;
}

.nouhau-img:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.nouhau-img1 {
    margin-left: 34px;
    padding: 22px 7.02px 22.5px 7px;
    transition: 1s ease;
}

.nouhau-img1:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.onediv {
    width: 626px;
    height: 132px;
    background-color: white;
    margin-top: 30px;
    transition: all 0.25s ease-out;
    border-radius: 15px;
    border: #E2E3EF 1px dashed;
    border-width: 3px;
    display: flex;
    transform: scale(1.0);
}

.onediv:hover {
    border-color: transparent;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.6s ease-in;
    transition: box-shadow 0.25s ease;
    background-image: #fafafa;
}

.onediv:hover {
    transition: all 0.25s ease-in;
    transform: scale(1.05);
}


.onediv_textdiv {
    padding-top: 20px;
    transition: .5s ease;
    font-size: 20px;
}

.onediv1 {
    width: 626px;
    height: 110px;
    background-color: white;
    margin-top: 30px;
    transition: all 0.25s ease-out;
    border-radius: 15px;
    border: #E2E3EF 1px dashed;
    border-width: 3px;
    display: flex;

}

.onediv1:hover {
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    background: #fafafa;
}

.onediv1:hover {
    transition: all 0.25s ease-in;
    transform: scale(1.05);
}


.twodiv {
    background-color: white;
    border-width: 3px;
    border-radius: 15px;
    border: #E2E3EF 3px dashed;
    display: flex;
    height: 180px;
    margin-top: 30px;
    width: 626px;
    transition: all 0.25s ease-out;

}

.twodiv:hover {
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    cursor: pointer;
    background: #fafafa;
}

.twodiv:hover {
    transition: all 0.25s ease-in-out;
    transform: scale(1.05);
}

.twodiv1 {
    width: 626px;
    height: 130px;
    background-color: white;
    margin-top: 30px;
    transition: box-shadow 0.5s;
    border-radius: 15px;
    border: #E2E3EF 1px dashed;
    border-width: 3px;
    display: flex;
    transition: all 0.25s ease-in-out;

}

.twodiv1:hover {
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    transition: box-shadow 0.5s;
    background: #fafafa;
}

.twodiv1:hover {
    transition: all 0.25s ease-in-out;
    transform: scale(1.05);
    cursor: pointer;
}

.twodiv12 {
    width: 626px;
    height: 130px;
    background-color: white;
    margin-top: 30px;
    transition: box-shadow 0.5s;
    border-radius: 15px;
    border: #E2E3EF 1px dashed;
    border-width: 3px;
    display: flex;
    transition: box-shadow;
    transition: all 0.25s ease-out;

}

.twodiv12:hover {
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    transition: box-shadow 0.5s;
    cursor: pointer;
    background: #fafafa;
}

.twodiv12:hover {
    transition: all 0.25s ease-in;
    transform: scale(1.05);
}


.onediv_imgdiv {
    align-items: center;
    justify-content: center;
}

.onediv_textdiv_text1 {
    padding-top: 20px;
    width: 550px;
    color: #07040C;
    font-size: 24px;
    font-weight: 700;
}

.onediv_textdiv_text2 {
    color: #585967;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.onediv_imgdiv_img {
    padding-right: 15px;
    padding-top: 24px;
    padding-left: 20px;
}

.hsw {
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hsw_text_1 {
    color: #07040C;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    display: flex;
}

.hsw_text_2 {
    color: #585967;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding-left: 38px;
    display: flex;
}

.hsw_dives {
    display: flex;
    margin-top: 50px;
    gap: 50px;
    transition: 1s ease;
}

.hsw_div_text {
    text-align: center;
}

.hsw_div_text11 {
    color: #07040C;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.hsw_div_text12 {
    color: #585967;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-left: 5px;
}

#hsw_img_1 {
    height: 220px;
    width: 390px;
    margin-top: 43px;
    border: 2px dashed #E2E3EF;
    border-radius: 15px;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.15);
    transition: 0.5s ease;
    filter: brightness(0.7);
}

#hsw_img_1:hover {
    filter: brightness(0.9);
    cursor: pointer;
    border: 2px dashed #F35A05;
    transform: translateY(10px);
}

#hsw_img_12 {
    height: 220px;
    width: 390px;
    margin-top: 20px;
    border: 2px dashed #E2E3EF;
    border-radius: 15px;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.15);
    transition: 0.5s ease;
    filter: brightness(0.7);
}

#hsw_img_12:hover {
    filter: brightness(0.9);
    cursor: pointer;
    border: 2px dashed #F35A05;
    transform: translateY(10px);
}

#nouhau-img2 {
    margin-bottom: -15px;
    padding-left: 10px;
}

#absolutes {
    position: absolute;
    padding-left: 150px;
    margin-top: -30px;
}

#absolutes2 {
    position: absolute;
    padding-left: 164px;
    padding-top: 8px;
    margin-top: -30px;
}

#absolutes1 {
    position: absolute;
    padding-left: 120px;
    margin-top: -30px;
}

#absolutes12 {
    position: absolute;
    padding-left: 129px;
    padding-top: 8px;
    margin-top: -30px;
}

#absolutes11 {
    position: absolute;
    padding-left: 165px;
    margin-top: -35px;
}

#absolutes111 {
    position: absolute;
    padding-left: 175px;
    padding-top: 8px;
    margin-top: -35px;
}


@media only screen and (max-width: 1440px) {
    .semantic {
        width: 100%;
        flex-direction: column;
    }

    .semantic_texts {
        margin: auto;
        text-align: center;
    }

    .try_it {
        flex-direction: column;
        width: 260px;
        margin: auto;
    }

    .text-freemoney {
        padding-left: 0px;
    }

    .semantic-img {
        text-align: center;
        margin-top: 26px;
    }

    .nouhau-text {
        text-align: center;
        font-size: 28px;
    }

    .nouhau {
        flex-direction: column;
    }

    .nouhau-img {
        display: none;
    }

    .nouhau-img1 {
        display: none;
    }

    .hsw_dives {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {

    .onediv_textdiv_text2 {

        font-size: 15px;

    }

    .frame_3 {
        width: 330px;
        height: 244px;
    }

    .text-semantic {
        font-size: 36px;
    }

    .semantic_texts {
        width: 300px;
    }

    .onediv {
        font-size: 10px;
        width: 445px;
        height: 160px;
    }

    .nouhau-text {
        font-size: 25px;
    }

    .twodiv {
        width: 445px;
        height: 180px;
    }

    .onediv1 {
        font-size: 10px;
        width: 400px;
    }

    .twodiv1 {
        width: 400px;
        height: 190px;
    }

    .twodiv12 {
        width: 400px;
        height: 170px;
    }

    .hsw_text_1 {
        font-size: 24px;
        padding-left: 90px;
    }

    .hsw_text_2 {
        font-size: 18px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 412px) {

    .onediv {
        font-size: 10px;
        width: 350px;
        height: 150px;
    }

    .onediv_textdiv_text1 {
        font-size: 20px;
    }

    .twodiv {
        width: 350px;
        height: 230px;
    }

    .onediv1 {
        font-size: 10px;
        width: 350px;
        height: 110px;
    }

    .twodiv1 {
        width: 350px;
        height: 175px;
    }

    .twodiv12 {
        width: 350px;
        height: 150px;
    }

    .hsw_div {
        justify-content: center;
        align-items: center;
    }

    #hsw_img_1 {
        width: 300px;
        height: 180px;
        justify-content: center;
        margin-left: 40px;
        text-align: center;
    }

    #hsw_img_12 {
        width: 300px;
        height: 180px;
        margin-left: 40px;
    }

    .hsw_text_1 {
        display: flex;
    }

    .hsw_div_text11 {
        padding-left: 13px;
        text-align: center;
        font-size: 20px;
    }

    .hsw_text_2 {
        text-align: center;
        overflow: hidden;
        display: flex;
    }
}